body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #ccc;
}

header {
    background-color: #000;
    color: white;
    padding: 5px 0;
    text-align: center;
    height: 700px;
}

header h1 {
    margin: 0;
    font-size: 60px;
    color: #c62c90; 
    margin-bottom: 20px;  
}
header p {
    font-size: 21px;
    font-family: 'Poppins';
    margin: 10px 0;
}
.scrollbar{
    overflow:auto;
    height:100%;
    width:100%;
}
video::-webkit-media-controls {
    display: none !important;
}
video::-moz-media-controls {
    display: none !important;
}
video::media-controls {
    display: none !important;
}
.nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
    
}
.nav-links {
  flex: 1;
  text-align: right;
  }
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #c6208c;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #000;
    background-color: #c6208c;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #871998; 
    transform: scale(1.05); 
    transition-duration: 0.75s;
    color: #ccc;
}
.projects {
    max-width: 90%;
}
.projects h3 a {
    text-decoration: solid;
    color: #000;
}
.projects h3 a:hover{
    color: #ccc;
    transition-duration: 0.5s;
}
main {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,20,0.8), rgba(0,0,20,0.8)),url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?q=80&w=1840&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
}

section {
    margin-bottom: 40px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #ccc;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stat {
    background-color: #871998;
    color: #000;
    padding: 50px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
}
.stat:hover {
    background-color: #c6208c; 
    transform: scale(1.05); 
    transition-duration: 1s;
    color: #ccc;
}
.stat ul {
    list-style: none;
    padding: 0;
}

.stat ul li {
    background-color: #c6208c;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #ccc;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #18191E;
    color: #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    color: white;
    background-color: #871998;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #c6208c;
    transform: scale(1.05);
    transition-duration: 0.5s;
    color: #000;
}
footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.social-links a {
    color: #c6208c;
    text-decoration:solid;
    margin: 5px 0;
}
.social-links a:hover {
    color: #871998;
    transition-duration: 0.5s;
}
  

